/* main margin and padding for whole webpage */
*{
    margin: 0px;
    padding: 0px;
}

/* background image */
.main{
    background-image: url(num.png);
}

/* css for whole header */
header {
    display: flex;
    align-items: center;     /* vertical alignment */
    justify-content: space-between; /* logo left, menu right */
    padding: 10px 40px;
}

/*css for logo font and for the color of first part of logo */
.logo{
    font-family: 'Pacifico',cursive;
    color: #FFFFFF;
}

/*color for remaining part of the logo */
.cc{
    color: #FF6B00;
}

/* intro for the webpage */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    padding: 80px 20px;
}

.heading{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    
    color: #FF9A40;   /* attention grabbing color */
    
    margin-bottom: 20px;
}

.mintro{
    font-size: 18px;
    max-width: 600px;
    
    color: #E5E5E5;
    line-height: 1.6;
}

/* box container */

.container{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    
}

.card {
    width: 320px;
    background: rgba(0, 0, 0, 0.75); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    text-align: center;
    height:50vh;
    border-radius: 15px;
    margin: 0px 50px;
    gap: 250px;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 50px;
    align-items: center;
}

button{
    padding: 12px 20px;
    font-size: 16px;
    width: 50%;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    cursor: pointer;
}

.single{
    background:#1E293B;
    color:white;
}

.double{
    background:#1E293B;
    color:white;
}